*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background: var(--bg-body);
    color: #333;
}

.container {
    max-width: 600px;
    margin: 100px auto;
    background: var(--bg-card);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 15px 0 5px;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
}

.toggle {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.toggle input {
    margin-right: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    background-color: var(--primary-color);
    color: #f1f1f1;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--primary-hover);
}

body.dark-mode {
    background: var(--text-main);
    color: #f1f1f1;
}

body.dark-mode .container {
    background: #1e1e1e;
}